/**********************************************************
FONTS
**********************************************************/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'PFT';
  src: url('PFT/PFTempestaFiveExtended.eot?#iefix') format('embedded-opentype'),  url('PFT/PFTempestaFiveExtended.woff') format('woff'), url('PFT/PFTempestaFiveExtended.ttf')  format('truetype'), url('PFT/PFTempestaFiveExtended.svg#PFTempestaFiveExtended') format('svg');
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'destroyregular';
    src: url('destroy/destroy_-webfont.eot');
    src: url('destroy/destroy_-webfont.eot?#iefix') format('embedded-opentype'),
         url('destroy/destroy_-webfont.woff') format('woff'),
         url('destroy/destroy_-webfont.ttf') format('truetype'),
         url('destroy/destroy_-webfont.svg#destroyregular') format('svg');
}
@font-face {
  font-weight: normal; font-style: normal;  font-family: 'hacked'; src:
    url('hacked/hacked.eot?#iefix') format('embedded-opentype'), url('hacked/hacked.woff') format('woff'), url('hacked/hacked.ttf') format('truetype'), url('hacked/hacked.svg#hacked') format('svg'); }

/*******************************************************
MAIN ELEMENT STYLES
*******************************************************/

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/pattern2.png') repeat top left;
  opacity: .4;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url('../img/wall.jpg') repeat;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  background: grey;
}
p {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Orbitron', sans-serif;
  padding: 1rem;
}
.wrapper {
  left: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;

  align-items: flex-start;
  flex: 1;
}
.content {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.container {
  height: auto;
  margin-bottom: 10%;
  position: relative;
  width: 100%;

}
.fade-container {
	opacity: 0;
  transition: all .5s;
}
.container-show {
	opacity: 1;
}
footer {
  margin: 0 auto;
	width: 100%;
  text-align: center;
  font-family: 'hacked', sans-serif;
}
h1{

  font-family: 'hacked', sans-serif;
	text-align: center;
  color: #999;
  font-size: 250%;
}
.headline {
  background-color: #111;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
  background-image: linear-gradient(#444, #222);
  border-radius: 6px;
  box-shadow: 0 1px 1px #777;
  margin: 1% 2% 5% 2%;
  -webkit-transform: translateX(-100%) scale(0.25);
  -ms-transform: translateX(-100%) scale(0.25);
  -moz-transform: translateX(-100%) scale(0.25);
  -o-transform: translateX(-100%) scale(0.25);
  transform: translateX(-100%) scale(0.25);
  transition: all .5s;
}
.headline-show{
  -webkit-transform: translateX(0%) scale(1);
  -ms-transform: translateX(0%) scale(1);
  -moz-transform: translateX(0%) scale(1);
  -o-transform: translateX(0%) scale(1);
  transform: translateX(0%) scale(1);

}
h2 {
  font-family: 'Orbitron', sans-serif;
	font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}
 a:visited, a:link, a:active
{
  color: inherit;
	text-decoration: none;
}
.full {
  margin: 0 auto;

}

/***********************************************
            Mobile Navigation Menu
***********************************************/
.menu {
  background: #444;
  display: flex;
  flex-direction: column;
  height: auto; width: 100%;
  max-width: 100%;
  font-size: 1.8em;
  font-family: 'hacked', sans-serif;
  line-height: 1.6;
  position: relative;
  transition: all .5s ease;
  z-index: 9;
}
.menu-hide{
  max-width: 0;
  overflow: hidden;
}
.nav_menu {

  border-top: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  z-index: 9;
  padding: .2rem 0 0 0.7rem;
  width: 125px; height: 40px;
  font-size: .2em;
  font-family: 'destroyregular';
  cursor: pointer;
  align-items: center;
}
.nav_menu:hover {

}
.button  {
  padding-top: 6px;
  width: 20px;
}
.nav {
  float: right;
  position: relative;
  overflow: hidden;
  padding-top: 9px;
  padding-left: 3px;
  width: 90px;
  z-index: 4;
}
.navItem, .navLogo {
  box-shadow: inset 0 1px 0 #111, 0 2px 0 #666;
  color: #999;
  padding: 2px;
  text-align: center;
  overflow: hidden;
}
.navItem:hover {
  color: azure;
  transition: 700ms;
  box-shadow: inset 1px 3px 1px black, inset -1px 0 1px black;
  text-shadow: 0 0 20px white;
}
.navLogo {
	display: none;
}
.sticky-mobile {
  background: rgba(10,6,6,.7);
/*  box-shadow: 1px 1px 1px 3px #999;*/
  color: #999;
  position: fixed;
  border-image: url(../img/menu-border.svg) 45 0 0 0;
  border-top: 10px solid transparent;
  border-image-repeat: stretch;
  bottom: 0;
}
.sticky-nav-button {
  background: rgba(10,6,6,.7);
  box-shadow: 1px 1px 1px 3px #999;
  color: #999;
  position: fixed;
  top: 0;
}

/*Image Styles
==============================================*/

a.logo {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 350px;
  width: 80%;
  text-align: center;
 }
.logo img {
  width: 100%;
  height: 0 auto;
}
.img-shadow {
  box-shadow: 1px 1px 5px 1px black;
}

/*About section
=============================================*/

.about {
  display: inline-block;
}
.intro {
  position:relative;

  padding: 10px;
  background-color: dimgrey;
}

.biopic {  /*<-------------------Bio picture style and animation*/
  position: relative;
  z-index: 1;
  float: left;
  margin-right: 10px;
  padding-top: 17.5%;
  max-width: 250px;
  width: 50%;
  height: 100px;
  background: url('../img/Attachment-1.jpeg')no-repeat 50% 0;
  background-position: center;
  background-size: 100% auto;
  -webkit-animation: shift 1s 3 alternate-reverse;
  -moz-animation: shift 1s 3 alternate-reverse;
  -o-animation: shift 1s 3 alternate-reverse;
  -ms-animation: shift 1s 3 alternate-reverse;
  animation: shift 1s 3 alternate-reverse;
}

@-webkit-keyframes shift {
  0% {
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  10% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  20% { left: 5px; }
  25% { left: 0; }
  30% {
    left: 5px;
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  35% { left: 0; }
  40% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  45% {left: 5px;}
  50% {left: 0;}
  100% {
  }
}
@-moz-keyframes shift {
  0% {
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  10% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  20% { left: 5px; }
  25% { left: 0; }
  30% {
    left: 5px;
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  35% { left: 0; }
  40% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  45% {left: 5px;}
  50% {left: 0;}
  100% {
  }
}
@-o-keyframes shift {
  0% {
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  10% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  20% { left: 5px; }
  25% { left: 0; }
  30% {
    left: 5px;
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  35% { left: 0; }
  40% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  45% {left: 5px;}
  50% {left: 0;}
  100% {
  }
}
@-ms-keyframes shift {
  0% {
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  10% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  20% { left: 5px; }
  25% { left: 0; }
  30% {
    left: 5px;
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  35% { left: 0; }
  40% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  45% {left: 5px;}
  50% {left: 0;}
  100% {
  }
}
@keyframes shift {
  0% {
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  10% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  20% { left: 5px; }
  25% { left: 0; }
  30% {
    left: 5px;
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  35% { left: 0; }
  40% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  45% {left: 5px;}
  50% {left: 0;}
  100% {
  }
}


/*Portfolio section
=============================================*/

.portfolio-content {
  margin-bottom: 10%;
}
.site-one-photo {
  background: url('../img/alan_site.jpg') no-repeat top;
  background-size: 100% auto;
  height: 200px; width: 100%;
  padding-bottom: 10%;
  position: relative;
}
.site-two-photo {
	background: url('../img/herzog_site.jpg') no-repeat top;
  background-size: 100% auto;
  height: 200px; width: 100%;
  padding-bottom: 10%;
  position: relative;
}
.site-one-info,
.site-two-info  {
	background: dimgrey;
  margin: 0 auto;
  width: 90%;
}

/*Photo Page
=============================================*/

.arrowLeft,
.arrowRight{
  width: 20%;
  margin: 0 50px;
  max-width: 90px;
  z-index: 1;
}
.photo-flex {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.photoBox {
  width: 100%; max-width: 900px;
  height: auto;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photoFrame {

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  width: 100%; max-width: 900px;
  padding-bottom: 90%;
  z-index: 1;
}
.photoSelector {
  display: inline-flex;
  flex-direction: row;
  justify-content:center;
  width: 100%;
  height: 40px;
}
.selector-circle {
  box-shadow: 3px 5px 3px black;
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  padding: .8rem;
  margin: .5rem;

}
.active {
  background: rgba(255, 255, 255, .5);
  box-shadow: 0 0 20px white, 3px 5px 3px black;
}

/***********************************************
            Music Page
***********************************************/
.music-info {
  font-family: 'Homenaje', sans-serif;
  font-size: 1.3rem;
  background: dimgrey;
}
.track {
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}
iframe {
  margin: 10px auto;
  box-shadow: 2px 2px 0 black;
}

/***********************************************
            Social Media Icons
***********************************************/

.social {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
	padding-bottom: .5rem;
	width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}


.twitter {
  position: relative;
  margin: 3%;
  padding-bottom: 8%;
  width: 30px;
  height: 5%;
  background: url('../img/social/03-twitter.svg') center no-repeat;
  background-size: contain;
}

.twitter a {
	position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-decoration: none;
  opacity: 0;
}

.insta a {
	position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-decoration: none;
  opacity: 0;
}

.twitter a {
	position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-decoration: none;
  opacity: 0;
}
.linkdin a {
	position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-decoration: none;
  opacity: 0;
}
.github a {
	position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-decoration: none;
  opacity: 0;
}
.insta {
  position: relative;
  margin: 3%;
  padding-bottom: 8%;
  width: 30px;
  height: 0;
  background: url('../img/social/38-instagram.svg') center no-repeat;
  background-size: contain;
}
.linkdin {
  margin: 3%;
  padding-bottom: 8%;
  width: 30px;
  height: 0;
  background: url('../img/social/11-linkedin.svg') center no-repeat;
  background-size: contain;
}
.github {
  margin: 3%;
  padding-bottom: 8%;
  width: 30px;
  height: 0;
  background: url('../img/41-github.svg') center no-repeat;
  background-size: contain;
}



/***********************************************
            Animations
***********************************************/

.overlay {
  -webkit-animation: pulse 2s infinite alternate;
  -moz-animation: pulse 2s infinite alternate;
  -o-animation: pulse 2s infinite alternate;
  -ms-animation: pulse 2s infinite alternate;
  animation: pulse 2s infinite alternate;
}

@-webkit-keyframes pulse {
  0% { opacity: .6; }

  100% { opacity: .2; }
  }
@-moz-keyframes pulse {
  0% { opacity: .6; }

  100% { opacity: .2; }
  }
@-o-keyframes pulse {
  0% { opacity: .6; }

  100% { opacity: .2; }
  }
@-ms-keyframes pulse {
  0% { opacity: .6; }

  100% { opacity: .2; }
  }
@keyframes pulse {
  0% { opacity: .6; }

  100% { opacity: .2; }
  }

/***********************************************
            Media Queries
***********************************************/

@media screen and ( min-width: 768px ) {

  .site-one-photo, .site-two-photo {
	 height: 400px;

}

}
@media screen and ( min-width: 56rem ) {

  .wrapper {
    display: block;
  }
  .nav_menu {
    display: none;
  }
  .menu {

    padding: 0;
    width: 100%;
    height: auto;
  }
  .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    background-color: #111;
    background-image: linear-gradient(#444, #222);
    border-radius: 6px;
    box-shadow: inset 0 1px 1px #777;
  }
  .navItem {
    border-right: 1px solid #222;
    box-shadow: none;
    width: 100%;
  }
  .navItem:hover {
    border-right: none;
/*    border-top: 2px solid #222;*/
    box-shadow: inset -1px 3px 0 black, inset 1px 0 2px black;
/*    box-shadow: 0 20px 50px -1px white;*/
    position: relative;
/*    top: 2px;*/
    transition: 200ms;
  }
  .sticky-nav {
    position: fixed;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
    top: 0;
}
  .navLogo {
    background: dimgrey;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    max-width: 0;
    transition: all 0.5s;
    text-align: center;
    opacity: 9;
    padding: 0;
}
  .sticky-nav .navLogo {
    max-width: 150px;
  }
  .site-one-info {

}
  .site-one-photo {
    float: left;
    height: 200px; width: 30%;
}
  .site-two-photo {
    float: right;
    height: 200px; width: 30%;
}
  .music-info  {
    font-size: 1.3rem;
    background: dimgrey;
    margin: 5% auto;
    padding: 1rem;
    width: 80%;
}
  .track {
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 50%;
}
  .track1{
    float: right;

  }
  .track2 {
	float: left;
}
  .photo-flex {
	flex-wrap: nowrap;
}
  .arrowLeft {
	 order: 1;
}
  .photoBox {
	 order: 2;
}
  .arrowRight {
	 order: 3;
}
  .social {
    width: 50%;
  }
  
}
@media screen and ( min-width: 1042px )  {


}
