/* Put your CSS code in the left column, instead of example, to put or remove unnecessary prefixes. */

/**********************************************************
FONTS
**********************************************************/

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'destroyregular';
    src: url('destroy/destroy_-webfont.eot');
    src: url('destroy/destroy_-webfont.eot?#iefix') format('embedded-opentype'),
         url('destroy/destroy_-webfont.woff') format('woff'),
         url('destroy/destroy_-webfont.ttf') format('truetype'),
         url('destroy/destroy_-webfont.svg#destroyregular') format('svg');
}
@font-face {
  font-weight: normal; font-style: normal;  font-family: 'hacked'; src:
    url('hacked/hacked.eot?#iefix') format('embedded-opentype'), url('hacked/hacked.woff') format('woff'), url('hacked/hacked.ttf') format('truetype'), url('hacked/hacked.svg#hacked') format('svg'); }

/*******************************************************
MAIN ELEMENT STYLES
*******************************************************/

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

header {
  background: url('../img/wall.jpg') repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  z-index: 81;
}



body {
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  
}
p {
  text-align: center;
  font-size: 1rem;
  font-family: 'orbitron', sans-serif;
  padding: 1rem;
}
.wrapper {
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  width: 100%;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.content {
  width: 100%;
  height: auto;
}
.container {
  height: auto;
  margin-bottom: 10%;
  width: 100%;
  z-index: 80;
  position: relative;
}
.fade-container {
	opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.container-show {
	opacity: 1;
}
footer {
  margin: 0 auto;
	width: 100%;
  text-align: center;
  font-family: 'hacked', sans-serif;
}
h1{

  font-family: 'hacked', sans-serif;
	text-align: center;
  color: #999;
}
.headline {
  font-size: 3rem;
  margin: 1% 2% 2% 2%;
  background-color: #2d2d2d;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  transform: translateX(-100%) scale(0.25);
    -webkit-transform: translateX(-100%) scale(0.25);
    -webkit-transition: all .5s;
  transition: all .5s;
}
.headline-show{
  -webkit-transform: translateX(0%) scale(1);
  transform: translateX(0%) scale(1);

}
.border {
  border: 10px solid transparent;
    border-image: url(../img/menu-border.svg) 45 0 0 0;
      -o-border-image: url(../img/menu-border.svg) 45 0 0 0;
    border-image-repeat: repeat; 
    margin: 0 auto;
  position: relative;  
  width: 100%;   
}
h2 {
  font-family: 'Orbitron', sans-serif;
	font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}
 a:visited, a:link, a:active
{
  color: inherit;
	text-decoration: none;
}
.full {
  margin: 0 auto;

}

/***********************************************
            Mobile Navigation Menu
***********************************************/
.menu {
  background: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-flexdirection: column;
          flex-direction: column;
  height: auto; width: 100%;
  max-width: 100%;
  font-size: 1.8em;
  font-family: 'hacked', sans-serif;
  line-height: 1.6;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  visibility: visible;
  z-index: 99;
}
.menu-hide{
  max-width: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav_menu {
  display: inline-block;
  position: relative;
  z-index: 99;
  height: 50px; width: 10%; 
  -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  cursor: pointer;
  
}
.nav_menu span {
  display: block;
  position: absolute;
  height: 4px; width: 50%;
  background: #999;
  border-radius: 9px;
  opacity: 1;
  left: 25%;
  -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.nav_menu span:nth-child(1) {
  top: 15px;
}
.nav_menu span:nth-child(2),
.nav_menu span:nth-child(3) {
  top: 25px;
}
.nav_menu span:nth-child(4) {
  top: 35px;
}
.nav_menu.open span:nth-child(1) {
  top: 25px;
  width: 0%;
  left: 50%;
}
.nav_menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav_menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.nav_menu.open span:nth-child(4) {
  top: 25px;
  width: 0%;
  left: 50%;
}
.navItem, .navLogo {
  -webkit-box-shadow: inset 0 1px 0 #111, 0 2px 0 #666;
          box-shadow: inset 0 1px 0 #111, 0 2px 0 #666;
  color: #999;
  padding: 2px;
  text-align: center;
  overflow: hidden;
}
.navItem:hover {
  color: azure;
  -webkit-transition: 700ms;
  transition: 700ms;
  -webkit-box-shadow: inset 1px 3px 1px black, inset -1px 0 1px black;
          box-shadow: inset 1px 3px 1px black, inset -1px 0 1px black;
  text-shadow: 0 0 20px white;
}
.navLogo {
	display: none;
}
.sticky-mobile {
  background: rgba(10,6,6,.7);
  color: #999;
  position: fixed;
  -o-border-image: url(../img/menu-border.svg) 45 0 0 0;
     border-image: url(../img/menu-border.svg) 45 0 0 0;
  border-top: 10px solid transparent;
  border-image-repeat: stretch;
  bottom: 0;
}
.sticky-nav-button {
  background: rgba(10,6,6,.7);
  -webkit-box-shadow: 1px 1px 1px 3px #999;
          box-shadow: 1px 1px 1px 3px #999;
  position: fixed;
  top: 0;
  width: 20%;
}

/*Header Styling
==============================================*/
.header-overflow {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.city-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/city.png');
  background-position: center;
  background-size: 40%;
  width: 2000px;
  padding-right: 50%;
  z-index: 82;
  -webkit-animation: scroll 50s infinite alternate ease-in-out;
    -moz-animation: scroll 50s infinite alternate ease-in-out;
    -o-animation: scroll 50s infinite alternate ease-in-out;
    animation: scroll 50s infinite alternate ease-in-out;
}

.logo-container {
  position: relative;
}
.logo-background {
  background:  rgb(34,34,34); /* for IE */
  background:  rgba(34,34,34,0.55);
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  display: none;
  position: absolute;
  top: 20px; right: 0; bottom: 0; left: 0;
  z-index: 98;
  -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}
a.logo,
.logo-background {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 350px;
  text-align: center;
 }
.logo img {
  position: relative;
  z-index: 99;
  
}
.mobile-header {
  background-color: rgba(34,34,34,0.55);
}
.mobile-logo {
  position: relative;
  color: #999;
  width: 90%; height: 50px;
  padding-top: .5rem;
  float: right;
  font-size: 1rem;
  font-family: 'destroyregular';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 98;

}

/*General Image Styles
==============================================*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/pattern2.png') repeat top left;
  opacity: .4;
  -webkit-animation: pulse 2s infinite alternate;
    -moz-animation: pulse 2s infinite alternate;
    -o-animation: pulse 2s infinite alternate;
    animation: pulse 2s infinite alternate;
  z-index: 80;  
}
.img-shadow {
  -webkit-box-shadow: 1px 1px 5px 1px black;
          box-shadow: 1px 1px 5px 1px black;
}

/*About section
=============================================*/
.about {
  padding: 0;
}
.background,
.about-background {
  background: url('../img/selfie.jpeg')no-repeat;
  background-size: cover;
  width: 100%;
  background-position: right;
  -webkit-animation: shift 1s 3 alternate-reverse;
    -moz-animation: shift 1s 3 alternate-reverse;
    -o-animation: shift 1s 3 alternate-reverse;
    animation: shift 1s 3 alternate-reverse;  
}
.background {
  z-index: 2;
}
.about-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 97;
  -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);  
  
}
.about-container {
  position: relative;
  width: 100%;
}
.intro {
  color: whitesmoke;
  position:relative;
  margin: 0 0 0 50%;
  padding: 10px;
  width: 50%;
  background:  rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
  z-index: 98;
  -webkit-animation: opaque 5s ease;
    -moz-animation: opaque 5s ease;
    -o-animation: opaque 5s ease;
    animation: opaque 5s ease;
  
}

/*Portfolio section
=============================================*/

.portfolio-content {
  margin-bottom: 10%;
}
.site-one-photo {
  background: url('../img/alan_site.jpg') no-repeat top;
  background-size: 100% auto;
  width: 100%;
  padding-bottom: 50%;
  position: relative;
}
.site-two-photo {
	background: url('../img/herzog_site.jpg') no-repeat top;
  background-size: 100% auto;
  width: 100%;
  padding-bottom: 50%;
  position: relative;
}
.site-one-info,
.site-two-info  {
	background: dimgrey;
  margin: 0 auto;
  width: 90%;
}

/*Photo Page
=============================================*/

.arrowLeft,
.arrowRight{
  cursor: pointer;
  width: 20%;
  margin: 0 5%;
  max-width: 90px;
  z-index: 99;
}
.photo-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.photoBox {
  width: 100%; max-width: 900px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.photoFrame {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  width: 100%; 
  max-width: 900px;
  padding-bottom: 75%;
  position: relative;
}
/*settings for Firefox browsers*/
@-moz-document url-prefix() {
.arrowLeft,
.arrowRight {
  margin-top: 40px;
}
.photoFrame {
    height: 300px;
    padding-bottom: 100%;
  }
}
.photoSelector {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  width: 100%;
  height: 40px;
}
.selector-circle {
  background: #666;
  -webkit-box-shadow: 0 2px 1px rgba(255,255,255,0.4), inset 0 5px 1px rgba(0,0,0,0.1);
          box-shadow: 0 2px 1px rgba(255,255,255,0.4), inset 0 5px 1px rgba(0,0,0,0.1);
  cursor: pointer; 
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 25px; height: 25px;
  padding: .5rem;
  margin: .9rem;
  transition: all 5000 ease;

}
.selector-circle:hover,
.active {
  transform: translateY(-38%);
  -webkit-box-shadow: 0 2px 1px rgba(255,255,255,0.4), inset 0 5px 1px rgba(0,0,0,0.1);
          box-shadow: -5px 13.5px 8px -4px rgba(0,0,0,.2),  .5px 9px 0 rgba(102,102,102,1),   inset 0 -5px 0 rgba(0,0,0,0.3), 
          inset 0 2px 5px rgba(255,255,255,0.4), 0.5px 12px 5px rgba(0,0,0,1);
          
}


/***********************************************
            Music Page
***********************************************/
.music-info {
  font-family: 'Homenaje', sans-serif;
  font-size: 1.3rem;
  background: dimgrey;
}
.track {
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}
iframe {
  margin: 10px auto;
  -webkit-box-shadow: 2px 2px 0 black;
          box-shadow: 2px 2px 0 black;
}

/***********************************************
            Social Media Icons
***********************************************/

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
	padding-bottom: .5rem;
	width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social a {
  background-color: dimgray;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: .5rem;
  text-decoration: none;
  transition: all 300ms ease-in;
  z-index: 98;
}
.social a:hover {
  -webkit-box-shadow: inset 35px 35px 0px white;
  box-shadow: inset 35px 35px 0px white;
}
.twitter {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding-top: 42px;
  background: url('../img/social/03-twitter.svg') center no-repeat;
  background-size: 100%; 
  background-size: contain;
}
.insta {
  display: inline-block;
  height: 25px;
  width: 25px;
  padding-top: 42px;
  background: url('../img/social/38-instagram.svg') center no-repeat;
  background-size: contain;
}
.linkdin {
  display: inline-block;
  height: 25px;
  width: 25px;
  padding-top: 42px;
  background: url('../img/social/11-linkedin.svg') center no-repeat;
  background-size: contain;
}
.github {
  display: inline-block;
  height: 25px;
  width: 25px;
  padding-top: 42px;
  background: url('../img/41-github.svg') center no-repeat;
  background-size: contain;
}

/***********************************************
            Animations
***********************************************/
@-webkit-keyframes scroll {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-moz-keyframes scroll {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-o-keyframes scroll {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes opaque {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes opaque {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes opaque {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opaque {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes shift {
  0% {
    background: url('../img/distortion.jpg')no-repeat 50%;
    background-size: cover;
  }
  10% {
    background: url('../img/selfie.jpeg')no-repeat 50%;
    background-size: cover;
  }
  20% { left: 5px; }
  25% { left: 0; }
  30% {
    left: 5px;
    background: url('../img/distortion.jpg')no-repeat 50%;
    background-size: cover;
  }
  35% { left: 0; }
  40% {
    background: url('../img/selfie.jpeg')no-repeat 50%;
    background-size: cover;
  }
  45% {left: 5px;}
  50% {left: 0;}
  100% {
  }
}
@-moz-keyframes shift {
  0% {
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  10% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  20% { left: 5px; }
  25% { left: 0; }
  30% {
    left: 5px;
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  35% { left: 0; }
  40% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  45% {left: 5px;}
  50% {left: 0;}
  100% {
  }
}
@-o-keyframes shift {
  0% {
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  10% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  20% { left: 5px; }
  25% { left: 0; }
  30% {
    left: 5px;
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  35% { left: 0; }
  40% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  45% {left: 5px;}
  50% {left: 0;}
  100% {
  }
}
@keyframes shift {
  0% {
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  10% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  20% { left: 5px; }
  25% { left: 0; }
  30% {
    left: 5px;
    background: url('../img/distort.jpg')no-repeat 50%;
    background-size: cover;
  }
  35% { left: 0; }
  40% {
    background: url('../img/Attachment-1.jpeg')no-repeat 50%;
    background-size: cover;
  }
  45% {left: 5px;}
  50% {left: 0;}
  100% {
  }
}

@-webkit-keyframes pulse {
  0% { opacity: .6; }

  100% { opacity: .2; }
  }
@keyframes pulse {
  0% { opacity: .6; }

  100% { opacity: .2; }
  }

/***********************************************
            Media Queries
***********************************************/

@media screen and (min-width: 491px) {

  .mobile-logo {
    padding-top: 1rem;
  }

}
@media screen and ( min-width: 768px ) {

  .logo-background {
    display: inline-block;
  }
 .intro {
    width: 40%;
    margin-left: 60%;
  }
  .wrapper {
    display: block;
  }
  .nav_menu {
    display: none;
  }
  .menu {

    padding: 0;
    width: 100%;
    height: auto;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin: 0 auto;
    background-color: #111;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
    background-image: linear-gradient(#444, #222);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px #777;
            box-shadow: inset 0 1px 1px #777;
  }
  .navItem {
    border-right: 1px solid #222;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }
  .navItem:hover {
    border-right: none;
/*    border-top: 2px solid #222;*/
    -webkit-box-shadow: inset -1px 3px 0 black, inset 1px 0 2px black;
            box-shadow: inset -1px 3px 0 black, inset 1px 0 2px black;
/*    box-shadow: 0 20px 50px -1px white;*/
    position: relative;
/*    top: 2px;*/
    -webkit-transition: 200ms;
    transition: 200ms;
  }
  .sticky-nav {
    position: fixed;
    -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
    top: 0;
}
  .navLogo {
    background: dimgrey;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    max-width: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
    opacity: 1;
    padding: 0;
}
  .sticky-nav .navLogo {
    max-width: 150px;
  }
  
  .site-one-photo {
    float: left;
    padding-bottom: 0;
    height: 200px; width: 30%;
}
  .site-two-photo {
    float: right;
    height: 200px; width: 30%;
    padding-bottom: 0;
}
  .music-info  {
    font-size: 1.3rem;
    background: dimgrey;
    margin: 5% auto;
    padding: 1rem;
    width: 80%;
}
  .track {
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 50%;
}
  .track1{
    float: right;

  }
  .track2 {
	float: left;
}
  .photo-flex {
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}
  .arrowLeft {
	 -webkit-box-ordinal-group: 2;
	     -ms-flex-order: 1;
	         order: 1;
}
  .photoBox {
	 -webkit-box-ordinal-group: 3;
	     -ms-flex-order: 2;
	         order: 2;
}
  .arrowRight {
	 -webkit-box-ordinal-group: 4;
	     -ms-flex-order: 3;
	         order: 3;
}
  .social {
    width: 50%;
  }
  
}
@media screen and ( min-width: 1042px )  {

  

}
